<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Build-Matrix" data-toc-modified-id="Build-Matrix-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Build Matrix</a></span><ul class="toc-item"><li><span><a href="#First-look-of-our-data" data-toc-modified-id="First-look-of-our-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>First look of our data</a></span></li><li><span><a href="#Filter-by-time" data-toc-modified-id="Filter-by-time-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Filter by time</a></span></li></ul></li></ul></div>

## Build Matrix
### First look of our data

In [1]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 10]

In [2]:
import geopandas as gpd
import pandas as pd

In [3]:
csv_name = '../Data/RideAustin_Weather_new.csv'
df = pd.read_csv(csv_name, encoding= 'unicode_escape')
df = df.dropna(subset=['started_on', 'completed_on','start_location_long','start_location_lat','end_location_long','end_location_lat'])
df.head()

,Unnamed: 0,completed_on,distance_travelled,end_location_lat,end_location_long,started_on,start_location_long,start_location_lat
0,0,11/14/2016 19:16,2300,30.26,-97.76,11/14/2016 19:11,-97.75,30.27
1,1,11/14/2016 19:17,2977,30.29,-97.73,11/14/2016 19:08,-97.74,30.27
2,2,11/14/2016 19:19,1298,30.27,-97.75,11/14/2016 19:13,-97.75,30.27
3,3,11/14/2016 19:19,3442,30.26,-97.76,11/14/2016 19:13,-97.78,30.25
4,4,11/14/2016 19:21,6635,30.32,-97.71,11/14/2016 19:12,-97.74,30.28

### Filter by time

In [7]:
from datetime import datetime
import numpy as np
import os

In [5]:
started_time = [datetime.strptime(str(data),"%m/%d/%Y %H:%M") for data in df.started_on]

completed_time = [datetime.strptime(str(data),"%m/%d/%Y %H:%M") for data in df.completed_on]

In [12]:
def filter_by_hour(end_dt,start_h=8, end_h=10):
    return start_h <= end_dt.hour < end_h

time_range = np.arange(0,24,3)
time_range = list(time_range)
time_range.append(24)
time_range

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [14]:
for index in range(len(time_range)-1):
    tv =  [filter_by_hour(data,time_range[index],time_range[index+1]) for data in completed_time]
    tdf = df[tv]
    print(f'{time_range[index]} : {tdf.shape}')
    fn = os.path.join('../Data/Table','RideAustin_' + str(time_range[index]) +'_' + str(time_range[index+1]) +'.csv')
    tdf.to_csv(fn)

0 : (95296, 8)
3 : (100151, 8)
6 : (77979, 8)
9 : (18060, 8)
12 : (25794, 8)
15 : (45121, 8)
18 : (49425, 8)
21 : (60570, 8)

In [16]:
grid_path = "../Data/Fishnet500/Net500m.shp"
gdf = gpd.read_file(grid_path)
gdf.head()

,Id,Shape_Leng,Shape_Area,geometry
0,0,0.02079,2.701401e-05,"POLYGON ((-97.65444 30.50675, -97.65964 30.506..."
1,0,0.00750,9.236718e-07,"POLYGON ((-97.57298 30.34562, -97.57648 30.344..."
2,0,0.02079,2.701401e-05,"POLYGON ((-97.96109 30.34043, -97.96629 30.340..."
3,0,0.02079,2.701400e-05,"POLYGON ((-97.94030 30.37681, -97.94550 30.376..."
4,0,0.02079,2.701401e-05,"POLYGON ((-97.72201 30.41319, -97.72720 30.413..."